<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Human Resource - Azizi Developments</title>
        <style>
            html, body { width: 100%; font-family: helvetica, "helvetica neue", arial, verdana, sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
            h1, h2, h3, h4, h5 { font-family: helvetica, "helvetica neue", arial, verdana, sans-serif; }
            h1, h2, h3, h4, h5,p{margin:0}
            a{ text-decoration: none; }
            p{margin:0}
        </style>
    </head>
    <body style="background:#e8ecef; background-color:#e8ecef; width:800px; margin:0px auto;" bgcolor="#e8ecef">
    <center>
        <table align="center" width="800" style="background:#e8ecef; background-color:#e8ecef;" bgcolor="#e8ecef">
            <tr>
                <td>
                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="background:#fff; background-color:#fff;" bgcolor="#ece6e6">
                        <tbody>
                            <tr valign="middle">
                                <td style="background-color:#e8ecef;text-align: center;padding: 30px">
                                    <a target="_blank" href="https://azizidevelopments.com/en" style="text-decoration: none; color: #001F5B; 
                                       font-family:Helvetica; font-size:12px;">
                                        <img src="https://azizidevelopments.com/emailer/templates/img/logo.jpg" alt="" width="160" height="38"/>
                                    </a>
                                </td>
                            </tr>
                            <tr valign="top"><td  style="height: 10px"></td></tr>
                            <tr valign="top">
                                <td  style="padding:15px 25px">
                                    <p style="text-transform: uppercase;color:#154e91;font-weight:bold;font-size:19px;text-align:center;line-height: 24px;margin:0">
                                        Human Resources
                                    </p>
                                </td>
                            </tr>
                            <tr valign="top">
                                <td  style="padding: 7px 0px; text-align:center">
                                    <img alt="Azizi Developments" src="https://azizidevelopments.com/emailer/templates/img/hr.jpg" width="600" height="254">
                                </td>
                            </tr>
                            <tr valign="top"><td  style="height: 10px"></td></tr>
                            <tr valign="top">
                                <td  style="padding:7px 50px">
                                    <p style="color:#6e6e6e;font-size:14px;text-align:center;line-height: 24px;text-align: left;margin:0;"><strong> Dear Colleagues,</strong></p><br/>
                                    <p style="color:#6e6e6e;font-size:14px;text-align:center;line-height: 24px;text-align: left;margin:0;">
                                        Kindly find attached the Event’s Flow Chart document for “AZIZI Developments” Sales Event on Saturday 06 April 2019. It’s very important that you go through this document and understand the Event’s Agenda and Policy as we have updated some of our policies and procedures for the sales events.                                   
                                    </p><br/>
                                    <p style="color:#6e6e6e;font-size:14px;text-align:center;line-height: 24px;text-align: left;margin:0">
                                        The objective of this document is to provide you with comprehensive information on what’s happening on the day of the event, and also, what the company’s expectations are.                                   
                                    </p><br/>
                                    <p style="color:#6e6e6e;font-size:14px;text-align:center;line-height: 24px;text-align: left;margin:0">
                                        To download Azizi Developments project floor plans click here
                                    </p><br/>
                                    <!--<p style="text-align:center;margin:0">
                                        <a href="https://azizidevelopments.com/">
                                            <img src="https://azizidevelopments.com/emailer/templates/img/email-hr.jpg" alt="Azizi Developments" width="150" height="44"/>
                                        </a>
                                    </p><br/>
                                    <p style="color:#6e6e6e;font-size:13px;text-align:center;line-height: 24px;text-align: left;margin:0">
                                        Please ensure your team members are provided with this information ahead of the event.
                                        Lunch timings: 2:00pm to 3:00pm<br/>
                                        We look forward to working together as a team to achieve a successful event. 
                                    </p><br/>-->
                                    <p style="color:#6e6e6e;font-size:14px;text-align:center;line-height: 24px;text-align: left;margin:0;"><strong style="font-size:14px;"> Human Resources</strong></p>
                                </td></tr>
                            <tr valign="top"><td  style="height: 20px"></td></tr>
                            <tr valign="middle">
                                <td  style=" background-color:#e8ecef;text-align: center;padding: 30px 20px 20px 20px;">
                                    <a target="_blank" href="https://www.instagram.com/azizigroup/?hl=en" style="text-decoration: none; color: #c8d1d8; 
                                       font-family:Helvetica; font-size:12px;">
                                        <img src="https://azizidevelopments.com/emailer/templates/img/instagram.jpg" alt="Instagram" width="22" height="22"/>
                                    </a>&nbsp;
                                    <a target="_blank" href="https://www.facebook.com/AziziGroup/" style="text-decoration: none; color: #c8d1d8; 
                                       font-family:Helvetica; font-size:12px;">
                                        <img src="https://azizidevelopments.com/emailer/templates/img/facebook.jpg" alt="Facebook" width="22" height="22"/>
                                    </a>&nbsp;
                                    <a target="_blank" href="ttps://twitter.com/azizigroup?lang=en" style="text-decoration: none; color: #c8d1d8; 
                                       font-family:Helvetica; font-size:12px;">
                                        <img src="https://azizidevelopments.com/emailer/templates/img/twitter.jpg" alt="Twitter" width="22" height="22"/>
                                    </a>&nbsp;
                                    <a target="_blank" href="https://www.youtube.com/channel/UCmUtuRMwJxaovjGBNSXx-Jw" style="text-decoration: none; color: #c8d1d8; 
                                       font-family:Helvetica; font-size:12px;">
                                        <img src="https://azizidevelopments.com/emailer/templates/img/youtube.jpg" alt="Youtube" width="22" height="22"/>
                                    </a><br/>
                                    <p style="font-size: 12px; color: #c8d1d8;"><a href="https://azizidevelopments.com/" style="color: #c8d1d8;">azizidevelopments.com</a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>