/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2019, 11:02:11 AM
    Author     : irshad.ansari
*/

p{margin: 0 0 10px;}
.small-section {padding:70px 65px 0px 65px;}
.ci-title, .ci-text{color:#4c4c4d !important;}
.RYI { margin: 20px 0 20px 0px !important; padding:0 !important; font-size: 24px !important; font-weight: bold; text-transform: uppercase; }
.ctrl-checkbox{ text-align: left !important; }
.newsletterfrm{
    border-bottom: 1px solid #000;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    background-color: #6b626200;
    box-shadow:none !important;
}

@media only screen and (min-width: 1024px){
    .CenterMenu{ /*margin: 0 10.4% !important;*/ }
    .widget-posts-img{  height: 100px !important }
    .home-content{ text-align:right !important; }
    .widget-posts-descr{ padding-left:15px;}
    .contact-item{padding-left:0px!important;}
    .blog-post-prev-small a{padding-bottom: 7px;}
    .owl-prev,.owl-next{display: none;}
    .owl-page span{width:12px; height: 12px;}
    .bg-gray-lighter{background-color: #f8f8f8;padding: 70px 65px 50px 65px;font-size: 14px}
    .bg-white-lighter{background-color: #fff;padding: 70px 65px 50px 65px;font-size: 14px}
    .cptext{margin: 0 120px;font-size: 22px!important; line-height: 30px!important;}
}
@media only screen and (max-width: 1024px){
    .bg-gray-lighter{background-color: #f8f8f8;padding: 70px 0 50px 0;}
    .bg-white-lighter{background-color: #fff;padding: 70px 0 50px 0;}
    .separete{display: none;}
    .cptext{font-size: 22px!important; line-height: 30px!important;}

}

@media only screen and (max-width: 768px){
    #stick-form{display: none}

}


table{ width:100%}    
table tr td{  padding: 10px 0; margin:0;text-align: left;}    
.p-text{margin-top: 0;text-align: left;font-size: 14px}
.text-center{text-align: center}
.img-responsive{width: 100%;}
.title1{ margin: 0 0 20px;text-transform: unset!important;}
.title2{font-size: 16px!important;font-weight: bold;color: #444;text-align: left; margin: 15px 0;}
.title3{font-size: 16px!important;color: #666;text-align: left;}
.span1{font-size: 35px; font-weight: 100; line-height: 30px; margin-bottom: 10px;}
.span2{font-weight: 100;}
.enquire{background: #444!important;float:right }

#stick-form{background: rgba(21,88,149,.8)!important; height: 330px; padding: 10px 0px; border: 2px solid #dadada; position: absolute; right: 50px; top: 250px; width: 350px;}
#stick-form h5{text-transform:uppercase;font-size:24px!important;text-align:center;color:#fff;margin:10px;display:block;}
#stick-form iframe{width: 100%;height: 100%;border:none;}

.FooterAbout{margin: 0; padding-right: 100px;width: auto;}.Quicklinks{margin-left: 0px!important;}
#nl{background:url(../images/newsletter-bg.jpg);width:100%;text-align:center;padding-left:0;padding-right:0;margin-bottom:10px;}
#nl .nl-title{margin:0;color:#fff;font-size:20px;font-weight:bold;}
#nl .nl-name,#nl .nl-email{background:transparent;color:#666;outline:none;border:none;border-bottom:1px solid #1b619a!important;padding:7px 5px;font-size:15px;border-radius:0;box-shadow: none;    margin-bottom: 10px;}
#nl .nl-submit{ border: 1px solid #fff!important; padding: 10px; width: 100%;}
table#nl{width: 100%;overflow: hidden;}
table#nl tr:nth-child(1) td{padding: 0px 1px 5px}
table#nl tr:nth-child(2) td{padding: 0px 0px 10px}
.valid{display: none;}
.invalid{display: inline;}
.txt-red{color:red}
#sub-msg p{color:green;text-align: left}
.modal-dialog{max-width:400px;}
.footer{padding: 15px; background: #f8f8f8; text-align: left;}

#lead-form-model .modal-dialog{
    max-width:350px;
}
#lead-form-model .modal-content {
    background: rgba(21, 88, 149, 0.8);
    border-radius: 0;
}
#lead-form-model .modal-body {
    margin-bottom: 0;
    padding: 0 5px;
    margin-top: 15px;
    height: 275px;
}
#lead-form-model .modal-header .close {
    opacity: 1;
    position: absolute;
    width: 33px;
    top: 20px;
}
#lead-form-model iframe {width:100%;height:100%;border:none;}
.text-white{color: #fff;}